#exchangeContainer {
  border: solid 4px black;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container {
  border: solid 4px black;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(249, 232, 235);
}
body {
  /* background-color: rgb(172, 174, 175); */
  /* font-family: "Amatic SC", cursive; */
  background: #e7eefb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

#amount {
  width: 150px;
}
